{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} : {{ user.username }}{% endblock %}

{% block body %}
    <div class="profile-content flx-row w-100">

    <div class="user-infos flx-row">

        <img class="avatar" src="https://api.habbocity.me/avatar_image.php?user={{ user.username }}&headonly=0&direction=2&head_direction=3&size=l" alt="Avatar">
        <div class="users-details flx-column">
        <h1>{{ user.username }}</h1>
            <span class="rank-box">{{ user.rank.name }}</span>
        <h2>Points : {{ user.points }}</h2>
        <span>Mission : <i>{{ userMotto }}</i></span>
        </div>

    </div>
            <div class="user-last-comment flx-column">

                {% if comments %}
                {% for comment in comments %}
                    <div class="last-comment-content flx-row">
                        <img src="https://api.habbocity.me/avatar_image.php?user={{ user.username }}&headonly=1&direction=2&head_direction=2&size=l" alt="Avatar">
                        <div class="last-comment--content">
                       <h2>{{ comment.articleId }}</h2>
                        <span>{{ comment.content }}</span>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <span class="user-has-nocomment">Cet utilisateur n'a pas de commentaire.</span>
                {% endif %}
            </div>

    </div>

    <div class="user-purse w-100 flx-row">
        <div class="purse-box flx-row">
            <div class="badge-list">
            {% for badge in userBadges|slice(0, 4) %}
                <img src="https://swf.habbocity.me/c_images/album1584/{{ badge.code }}.gif" alt="Badge" class="user-badge">
            {% endfor %}
            </div>
        </div>
        <div class="purse-box diamonds-box flx-row">
            <div class="diamonds-icon"><img src="https://www.habbocity.me/assets/img/center/navigation/1.png" /></div>
            <h2>{{ userDiamonds }} diamants</h2>
        </div>
        {% if user.verified %}
            <div class="purse-box user-verified">
                <h2>Cet utilisateur est vérifié</h2>
            </div>
        {% else%}
            <div class="purse-box user-not-verified">
                <h2>Cet utilisateur n'est pas vérifié</h2>
            </div>
        {% endif %}
    </div>

    <h2>Statistiques sur l'hôtel</h2>
    <div class="stat-list">

        <div class="stat-item">
            <img src="https://www.habbocity.me/assets/img/profil/icon_gamer.png" />
            <h3>Score de win-win : </h3>
            <span> {{ userWinWins }} </span>
        </div>

        <div class="stat-item">
            <img src="https://www.habbocity.me/assets/img/profil/icon_post.png" />
            <h3>Messages envoyés : </h3>
            <span> {{ chatCount }} </span>
        </div>

        <div class="stat-item">
            <img src="https://www.habbocity.me/assets/img/home/icon_time.png" />
            <h3>Intéractions build : </h3>
            <span> {{ buildCount }} </span>
        </div>

    </div>

    <div class="stat-list" style="margin-top: 20px;">
        <div class="stat-item">
            <img src="https://www.habbocity.me/assets/img/header/v2/icon_dark.png" />
            <h3>Rooms visitées : </h3>
            <span> {{ visitedRooms }} </span>
        </div>

        <div class="stat-item">
            <img src="https://www.habbocity.me/assets/img/32_icon_chat.png" />
            <h3>Messages privés : </h3>
            <span> {{ privateChatCount }} </span>
        </div>

        <div class="stat-item">
            <img src="https://www.habbocity.me/assets/img/profil/icon_time.png" />
            <h3>Heures de connexion : </h3>
            <span> {{ userPlayingTime // 3600 }} </span>
        </div>

    </div>



{% endblock %}

